<!DOCTYPE html>
<html>

    <head>
     <title>MeloTEK</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" 
     integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/homepage.css" type="text/css" />
    </head>

    <body>

        <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">MeloTEK</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/about" target="">About</a></li>
                        <li><a href="/sign_up" target="">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron">
                <h1>Create your own musical melodies!</h1>
            </div>

            <div class="jumbotron">
                <h2>Welcome to MeloTEK!</h2><br>
                <h4>MeloTEK lets you...</h4>
                <ul>
                    <li>Create music scores and parts for free</li>
                    <li>Integrate music with the power of computer programming</li>
                    <li>Share your work with your friends</li>
                </ul>
                <br>
                <h4>Brought to you by...</h4>
                <ul>
                    <li>Ethan Gruman (Carnegie Mellon University)</li>
                    <li>Kimberly Le (Brown University)</li>
                    <li>Taisuke Yasuda (Carnegie Mellon University)</li>
                </ul>
            </div>
        </div>

    </body>
</html>